<link rel="import" href="/bower/polymer/polymer.html">
<polymer-element name="my-element">
  <link rel="stylesheet" href="/css/darkstrap-v0.9.0.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8">
  <template>
    <div class="lead well">I'm a polymer {{type}}. STUFF This is my shadow DOM</div>
  </template>
  <script>
    Polymer('my-element', {
      ready: function() {
        //...
      }
    });
  </script>
</polymer-element>
