<!DOCTYPE html>

<html>
  <head>
    <title>{{^title}}No title{{/title}}{{{title}}}</title>
    <script src="/polymer/polymer/polymer.min.js" type="text/javascript"></script>
    <link rel="import" href="/components/my-element.html">
    <link rel="stylesheet" href="{{ pageCSS }}" type="text/css" media="screen" charset="utf-8">
    {{{xtraStylesheets}}}
  </head>

  <body>
    {{{body}}}    
    <script src="{{ pageJS }}" type="text/javascript"></script>
    {{{extraScripts}}}
  </body>
</html>
